<ion-view title="Event" id="page2">
<ion-content padding="true" class="has-header">
  <div class="list card" id="home-card21" ng-repeat="event in events"  ui-sref="tabsController.detail( {id: event.id} )">
    <div style="margin: 0px; background-color: rgb(232, 235, 239); text-align: center;">
      <img ng-src="{{event.imgURL}}" height="200" width="200">
    </div>
    <div class="item item-body" id="home-list-item-container2">
      <div id="home-markdown2" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          {{event.name}}
        </p >
        <p style="margin-top:0px;color:#000000;">
          Venue: {{event.venue}}
        </p >
        <p style="margin-top:0px;color:#000000;">
          Date: {{event.eventDate}}
        </p >
      </div>
    </div>
  </div>
</ion-content>
</ion-view>

