<!-- <ion-view title="Organizer" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="organizer-list3">
      <ion-item id="organizer-list-item7" ui-sref="tabsController.oevent()">Item 1</ion-item>
      <ion-item id="organizer-list-item8">Item 2</ion-item>
      <ion-item id="organizer-list-item9">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view> -->

<ion-view title="Organizer Page" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="organizerPage-list2">
      <ion-item id="organizerPage-list-item4" ui-sref="tabsController.oevent({ org: 'ABC' })">
        ABC
      </ion-item>
      <ion-item id="organizerPage-list-item4" ui-sref="tabsController.oevent({ org: 'ACB' })">
        ACB
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>