<ion-view title="Person" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="person-list4">
      <ion-item class="item-thumbnail-left"  id="person-list-item10">
        <img ng-src="http://styleberry.cdn.smart-img.com/2014_img/img/glob-img1.jpg" style="width:100%" />
        <h2>{{item.username}}</h2>
      </ion-item>
    </ion-list>
    <ion-list id="person-list5">
      <ion-item id="person-list-item16" ui-sref="tabsController.login()">Login/Logoff</ion-item>
      <ion-item id="person-list-item17" ui-sref="tabsController.registerEvents()">Registered Event</ion-item>
    </ion-list>
  </ion-content>
</ion-view>